* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	margin: 30px 0;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-align: center;
}
p {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	line-height: 1.5;
}
